$icomoon-font-family: "tokenoshi-icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-tokenoshi_twitter: "\e9bd";
$icon-tokenoshi_tokenoshi-logo: "\e9bb";
$icon-tokenoshi_fi-rr-add: "\e900";
$icon-tokenoshi_fi-rr-align-center: "\e901";
$icon-tokenoshi_fi-rr-align-justify: "\e902";
$icon-tokenoshi_fi-rr-align-left: "\e903";
$icon-tokenoshi_fi-rr-align-right: "\e904";
$icon-tokenoshi_fi-rr-angle-double-left: "\e905";
$icon-tokenoshi_fi-rr-angle-double-right: "\e906";
$icon-tokenoshi_fi-rr-angle-double-small-left: "\e907";
$icon-tokenoshi_fi-rr-angle-double-small-right: "\e908";
$icon-tokenoshi_fi-rr-angle-down: "\e909";
$icon-tokenoshi_fi-rr-angle-left: "\e90a";
$icon-tokenoshi_fi-rr-angle-right: "\e90b";
$icon-tokenoshi_fi-rr-angle-small-down: "\e90c";
$icon-tokenoshi_fi-rr-angle-small-left: "\e90d";
$icon-tokenoshi_fi-rr-angle-small-right: "\e90e";
$icon-tokenoshi_fi-rr-angle-small-up: "\e90f";
$icon-tokenoshi_fi-rr-angle-up: "\e910";
$icon-tokenoshi_fi-rr-apps: "\e911";
$icon-tokenoshi_fi-rr-apps-add: "\e912";
$icon-tokenoshi_fi-rr-apps-delete: "\e913";
$icon-tokenoshi_fi-rr-apps-sort: "\e914";
$icon-tokenoshi_fi-rr-arrow-down: "\e915";
$icon-tokenoshi_fi-rr-arrow-left: "\e916";
$icon-tokenoshi_fi-rr-arrow-right: "\e917";
$icon-tokenoshi_fi-rr-arrow-small-down: "\e918";
$icon-tokenoshi_fi-rr-arrow-small-left: "\e919";
$icon-tokenoshi_fi-rr-arrow-small-right: "\e91a";
$icon-tokenoshi_fi-rr-arrow-small-up: "\e91b";
$icon-tokenoshi_fi-rr-arrow-up: "\e91c";
$icon-tokenoshi_fi-rr-bell: "\e91d";
$icon-tokenoshi_fi-rr-bell-ring: "\e91e";
$icon-tokenoshi_fi-rr-book: "\e91f";
$icon-tokenoshi_fi-rr-book-alt: "\e920";
$icon-tokenoshi_fi-rr-box-alt: "\e921";
$icon-tokenoshi_fi-rr-briefcase: "\e922";
$icon-tokenoshi_fi-rr-broom: "\e923";
$icon-tokenoshi_fi-rr-browser: "\e924";
$icon-tokenoshi_fi-rr-brush: "\e925";
$icon-tokenoshi_fi-rr-building: "\e926";
$icon-tokenoshi_fi-rr-bulb: "\e927";
$icon-tokenoshi_fi-rr-calendar: "\e928";
$icon-tokenoshi_fi-rr-camera: "\e929";
$icon-tokenoshi_fi-rr-caret-down: "\e92a";
$icon-tokenoshi_fi-rr-caret-left: "\e92b";
$icon-tokenoshi_fi-rr-caret-right: "\e92c";
$icon-tokenoshi_fi-rr-caret-up: "\e92d";
$icon-tokenoshi_fi-rr-check: "\e92e";
$icon-tokenoshi_fi-rr-checkbox: "\e92f";
$icon-tokenoshi_fi-rr-circle: "\e930";
$icon-tokenoshi_fi-rr-circle-small: "\e931";
$icon-tokenoshi_fi-rr-clip: "\e932";
$icon-tokenoshi_fi-rr-clock: "\e933";
$icon-tokenoshi_fi-rr-cloud: "\e934";
$icon-tokenoshi_fi-rr-cloud-check: "\e935";
$icon-tokenoshi_fi-rr-cloud-disabled: "\e936";
$icon-tokenoshi_fi-rr-cloud-download: "\e937";
$icon-tokenoshi_fi-rr-cloud-share: "\e938";
$icon-tokenoshi_fi-rr-cloud-upload: "\e939";
$icon-tokenoshi_fi-rr-comment: "\e93a";
$icon-tokenoshi_fi-rr-comment-alt: "\e93b";
$icon-tokenoshi_fi-rr-copy: "\e93c";
$icon-tokenoshi_fi-rr-credit-card: "\e93d";
$icon-tokenoshi_fi-rr-cross: "\e93e";
$icon-tokenoshi_fi-rr-cross-circle: "\e93f";
$icon-tokenoshi_fi-rr-cross-small: "\e940";
$icon-tokenoshi_fi-rr-cursor: "\e941";
$icon-tokenoshi_fi-rr-cursor-finger: "\e942";
$icon-tokenoshi_fi-rr-cursor-plus: "\e943";
$icon-tokenoshi_fi-rr-document: "\e944";
$icon-tokenoshi_fi-rr-document-signed: "\e945";
$icon-tokenoshi_fi-rr-dollar: "\e946";
$icon-tokenoshi_fi-rr-download: "\e947";
$icon-tokenoshi_fi-rr-duplicate: "\e948";
$icon-tokenoshi_fi-rr-earnings: "\e949";
$icon-tokenoshi_fi-rr-edit: "\e94a";
$icon-tokenoshi_fi-rr-edit-alt: "\e94b";
$icon-tokenoshi_fi-rr-envelope: "\e94c";
$icon-tokenoshi_fi-rr-euro: "\e94d";
$icon-tokenoshi_fi-rr-exclamation: "\e94e";
$icon-tokenoshi_fi-rr-expand: "\e94f";
$icon-tokenoshi_fi-rr-eye: "\e950";
$icon-tokenoshi_fi-rr-eye-crossed: "\e951";
$icon-tokenoshi_fi-rr-eye-dropper: "\e952";
$icon-tokenoshi_fi-rr-file: "\e953";
$icon-tokenoshi_fi-rr-file-add: "\e954";
$icon-tokenoshi_fi-rr-file-ai: "\e955";
$icon-tokenoshi_fi-rr-file-check: "\e956";
$icon-tokenoshi_fi-rr-file-delete: "\e957";
$icon-tokenoshi_fi-rr-file-eps: "\e958";
$icon-tokenoshi_fi-rr-file-gif: "\e959";
$icon-tokenoshi_fi-rr-file-music: "\e95a";
$icon-tokenoshi_fi-rr-file-psd: "\e95b";
$icon-tokenoshi_fi-rr-fingerprint: "\e95c";
$icon-tokenoshi_fi-rr-flame: "\e95d";
$icon-tokenoshi_fi-rr-folder: "\e95e";
$icon-tokenoshi_fi-rr-folder-add: "\e95f";
$icon-tokenoshi_fi-rr-forward: "\e960";
$icon-tokenoshi_fi-rr-ftp: "\e961";
$icon-tokenoshi_fi-rr-gallery: "\e962";
$icon-tokenoshi_fi-rr-globe: "\e963";
$icon-tokenoshi_fi-rr-headset: "\e964";
$icon-tokenoshi_fi-rr-hourglass: "\e965";
$icon-tokenoshi_fi-rr-hourglass-end: "\e966";
$icon-tokenoshi_fi-rr-indent: "\e967";
$icon-tokenoshi_fi-rr-interlining: "\e968";
$icon-tokenoshi_fi-rr-interrogation: "\e969";
$icon-tokenoshi_fi-rr-key: "\e96a";
$icon-tokenoshi_fi-rr-keyboard: "\e96b";
$icon-tokenoshi_fi-rr-label: "\e96c";
$icon-tokenoshi_fi-rr-line-width: "\e96d";
$icon-tokenoshi_fi-rr-link: "\e96e";
$icon-tokenoshi_fi-rr-list: "\e96f";
$icon-tokenoshi_fi-rr-list-check: "\e970";
$icon-tokenoshi_fi-rr-makeup-brush: "\e971";
$icon-tokenoshi_fi-rr-marker: "\e972";
$icon-tokenoshi_fi-rr-megaphone: "\e973";
$icon-tokenoshi_fi-rr-menu-burger: "\e974";
$icon-tokenoshi_fi-rr-menu-dots: "\e975";
$icon-tokenoshi_fi-rr-menu-dots-vertical: "\e976";
$icon-tokenoshi_fi-rr-minus: "\e977";
$icon-tokenoshi_fi-rr-minus-small: "\e978";
$icon-tokenoshi_fi-rr-mode-landscape: "\e979";
$icon-tokenoshi_fi-rr-mode-portrait: "\e97a";
$icon-tokenoshi_fi-rr-mouse: "\e97b";
$icon-tokenoshi_fi-rr-music: "\e97c";
$icon-tokenoshi_fi-rr-music-alt: "\e97d";
$icon-tokenoshi_fi-rr-pause: "\e97e";
$icon-tokenoshi_fi-rr-picture: "\e97f";
$icon-tokenoshi_fi-rr-play: "\e980";
$icon-tokenoshi_fi-rr-play-alt: "\e981";
$icon-tokenoshi_fi-rr-plus: "\e982";
$icon-tokenoshi_fi-rr-plus-small: "\e983";
$icon-tokenoshi_fi-rr-pound: "\e984";
$icon-tokenoshi_fi-rr-power: "\e985";
$icon-tokenoshi_fi-rr-pulse: "\e986";
$icon-tokenoshi_fi-rr-quote-right: "\e987";
$icon-tokenoshi_fi-rr-refresh: "\e988";
$icon-tokenoshi_fi-rr-rewind: "\e989";
$icon-tokenoshi_fi-rr-rotate-right: "\e98a";
$icon-tokenoshi_fi-rr-search: "\e98b";
$icon-tokenoshi_fi-rr-settings: "\e98c";
$icon-tokenoshi_fi-rr-settings-sliders: "\e98d";
$icon-tokenoshi_fi-rr-share: "\e98e";
$icon-tokenoshi_fi-rr-shield: "\e98f";
$icon-tokenoshi_fi-rr-shield-check: "\e990";
$icon-tokenoshi_fi-rr-shield-exclamation: "\e991";
$icon-tokenoshi_fi-rr-shield-interrogation: "\e992";
$icon-tokenoshi_fi-rr-shield-plus: "\e993";
$icon-tokenoshi_fi-rr-shop: "\e994";
$icon-tokenoshi_fi-rr-shopping-bag: "\e995";
$icon-tokenoshi_fi-rr-shopping-bag-add: "\e996";
$icon-tokenoshi_fi-rr-shopping-cart: "\e997";
$icon-tokenoshi_fi-rr-shopping-cart-add: "\e998";
$icon-tokenoshi_fi-rr-shopping-cart-check: "\e999";
$icon-tokenoshi_fi-rr-shuffle: "\e99a";
$icon-tokenoshi_fi-rr-sign-in: "\e99b";
$icon-tokenoshi_fi-rr-sign-out: "\e99c";
$icon-tokenoshi_fi-rr-spinner: "\e99d";
$icon-tokenoshi_fi-rr-spinner-alt: "\e99e";
$icon-tokenoshi_fi-rr-stats: "\e99f";
$icon-tokenoshi_fi-rr-subtitles: "\e9a0";
$icon-tokenoshi_fi-rr-thumbs-down: "\e9a1";
$icon-tokenoshi_fi-rr-thumbs-up: "\e9a2";
$icon-tokenoshi_fi-rr-time-add: "\e9a3";
$icon-tokenoshi_fi-rr-time-check: "\e9a4";
$icon-tokenoshi_fi-rr-time-delete: "\e9a5";
$icon-tokenoshi_fi-rr-time-fast: "\e9a6";
$icon-tokenoshi_fi-rr-time-forward: "\e9a7";
$icon-tokenoshi_fi-rr-time-forward-sixty: "\e9a8";
$icon-tokenoshi_fi-rr-time-forward-ten: "\e9a9";
$icon-tokenoshi_fi-rr-time-half-past: "\e9aa";
$icon-tokenoshi_fi-rr-time-oclock: "\e9ab";
$icon-tokenoshi_fi-rr-time-past: "\e9ac";
$icon-tokenoshi_fi-rr-time-quarter-past: "\e9ad";
$icon-tokenoshi_fi-rr-time-quarter-to: "\e9ae";
$icon-tokenoshi_fi-rr-time-twenty-four: "\e9af";
$icon-tokenoshi_fi-rr-trash: "\e9b0";
$icon-tokenoshi_fi-rr-user: "\e9b1";
$icon-tokenoshi_fi-rr-user-add: "\e9b2";
$icon-tokenoshi_fi-rr-user-delete: "\e9b3";
$icon-tokenoshi_fi-rr-user-remove: "\e9b4";
$icon-tokenoshi_fi-rr-users: "\e9b5";
$icon-tokenoshi_fi-rr-user-time: "\e9b6";
$icon-tokenoshi_fi-rr-wifi-alt: "\e9b7";
$icon-tokenoshi_fi-rr-yen: "\e9b8";
$icon-tokenoshi_fi-rr-zoom-in: "\e9b9";
$icon-tokenoshi_fi-rr-zoom-out: "\e9ba";
$icon-tokenoshi_tokenoshi-full-logo: "\e9bc";

